.header {

    width: 100%;
    display: block;
    background-color: var(--color-bg);
    padding: 2rem 0;

    &__image {

        max-width: 130px;
        display: block;
        margin: auto;

    }


}

@media (min-width: 1024px) {

    .header {

        &__image {

            max-width: 180px;

        }        

    }

}