<footer class="footer">

    <div class="grid">

        <div class="footer__container">

            <p>
                Desenvolvido por:
                <a href="https://github.com/flaviofiori" title="GitHub: Flávio Fiori" target="_blank">
                    Flávio Fiori
                </a>
            </p>

            <p>
                <a href="https://github.com/flaviofiori/lanca-conta" title="Link do projeto" target="_blank">
                    Link do projeto
                </a>
            </p>

        </div>

    </div>

</footer>