<section class="resume">

    <div class="grid">

        <h1 class="resume__title">#Lança <span>Conta</span>🧐</h1>

        <div class="resume__container">


            <h2 class="resume__subtitle">Resumo</h2>

            <ul class="resume__list">
                
                <li class="resume__item">
                    Valor total:
                    <strong>R$00,00</strong>
                </li>

                <li class="resume__item">
                    Valor total:
                    <strong>R$00,00</strong>
                </li>

                <li class="resume__item">
                    Valor total:
                    <strong>R$00,00</strong>
                </li>

            </ul>

        </div>

    </div>

</section>