<section class="resume">

    <div class="grid">

        <h1 class="resume__title">#Lança <span>Conta</span>🧐</h1>

        <div class="resume__container">


            <h2 class="resume__subtitle">Resumo</h2>

            <ul class="resume__list" *ngIf="!!resume; else emptyResume">
                
                <li class="resume__item">
                    De: <strong>{{ resume.initialDate | date: "shortDate" }}</strong>
                    Até: <strong>{{ resume.finalDate | date: "shortDate" }}</strong>
                </li>

                <li class="resume__item">
                    Quantidade de transferencia:
                    <strong>{{ resume.totalQuantity | currency }}</strong>
                </li>

                <li class="resume__item">
                    Valor líquido:
                    <strong>{{ resume.totalNetAmount | currency }}</strong>
                </li>

                <li class="resume__item">
                    Média total:
                    <strong>{{ resume.totalAverageAmount | currency }}</strong>
                </li>

                <li class="resume__item resume__item--main">
                    Valor total:
                    <strong>{{ resume.totalAmount | currency }}</strong>
                </li>

            </ul>

            <ng-template #emptyResume>
                <p>Resumo não encontrado</p>
            </ng-template>

        </div>

    </div>

</section>