<section class="transactions">

    <div class="grid">

        <h2 class="transactions__subtitle">Transações</h2>

        <div class="transactions__container">

            <table class="table" *ngIf="transactions.length > 0; else emptyTransferList">

                <thead>
                    <tr>
                        <th>Bandeira</th>
                        <th>Data</th>
                        <th>Canal</th>
                        <th>Valor Liquido</th>
                        <th>Status</th>
                    </tr>
                </thead>

                <tbody>

                    <tr *ngFor="let transaction of transactions">
                        <td>{{ transaction.cardBrand }}</td>
                        <td>{{ transaction.date | date: "shortDate" }}</td>
                        <td>{{ transaction.channel }}</td>
                        <td>{{ transaction.netAmount | currency }}</td>
                        <td>{{ transaction.status }}</td>
                    </tr>

                </tbody>

            </table>

            <ng-template #emptyTransferList>
                <p>Nenhuma transferencia encontrada</p>
            </ng-template>

        </div>

    </div>

</section>